@media screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
  }
  .container {
    width: 1158px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-grap-list {
    display: flex;
    flex-direction: row;
  }
  .header-mail {
    font-size: 16px;
  }
  .header-tel {
    font-size: 16px;
  }
  /*------------ HERO ------------- */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
    padding-top: 185px;
    padding-bottom: 185px;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_bg_desktop_2x.jpg);
  }
}

  .hero-title {
    width: 496px;
    margin-bottom: 45px;
  }
  /* ----------strategy------------- */
  .strategy > .container {
    width: 1128px;
  }
  .strategy {
    padding-top: 123px;
    padding-bottom: 120px;
  }
  .strategy > .container {
    display: flex;
  }
  .strategy-title {
  }
  .strategy-list {
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;
  }
  .features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .strategy-item {
  }
  .strategy-icon {
  }
  .strategy-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    margin-bottom: 8px;
  }
  .strategy-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--rest-text-color);
    width: 264px;
  }
  /* ----------works------------ */
  .works {
    padding-bottom: 120px;
  }
  .works > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    min-width: 325px;
  }
  .works-list {
    display: flex;
    gap: 25px;
  }
  /* ---------team---------------- */

  .team {
    width: 100%;
  }
  .team-list {
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;
  }
  /* ---------customers---------------- */

  .customers-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
  /* -----------FOOTER----------------- */
  .footer > .container {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-content {
    width: 264px;
    height: 110px;
    margin-right: 120px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .soc-media-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .footer-form {
    margin-left: 80px;
  }
  .footer-form-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .footer-form-field {
    display: flex;
    margin-bottom: 16px;
  }

  .footer-form-input {
    width: 100%;
    height: 40px;
  }

  .footer-form-submit {
    width: 165px;
    justify-content: center;
    align-items: center;
  }

  /* ----------------PORTFOLIO--------------------- */

  .about {
    align-items: center;
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .about > .container {
  }
  .about-list {
    flex-wrap: nowrap;
    gap: 25px;
    margin-bottom: 72px;
  }
  .about-item {
  }
  .about-btn {
    padding: 12px 24px;
  }

  .about-btn:hover,
  .about-btn:focus {
    color: var(--first-btn-color);
    background-color: var(--first-bg-btn-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  .page > .container {
  }
  .page-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .page-item {
    background: var(--first-btn-color);
    width: calc((100% - 48px) / 3);
  }
}
