@media screen and (min-width: 428px) {
  .container {
    width: 396px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .header-mail,
  .header-tel {
    display: none;
  }
  .header {
    background-color: var(--first-bg-color);
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
  }

  /*------------ HERO ------------- */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 428px;
    padding-top: 0px;
    height: 432px;
  }
  .hero > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--first-title-color);
    padding-top: 112px;
    margin-bottom: 72px;
    width: 340px;
  }
  .hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--first-btn-color);
    background-color: var(--first-bg-btn-color);
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border-color: transparent;
    display: line-block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-btn:hover,
  .hero-btn:focus {
    color: var(--first-btn-color);
    background-color: var(--second-bg-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  /*------------ HERO ------------- */
  /* ----------strategy------------- */
  .strategy > .container {
    justify-content: center;
  }
  .strategy {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .features-icon {
    display: none;
  }
  .strategy > .container {
    display: flex;
  }
  .strategy-title {
  }
  .strategy-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .strategy-item {
  }
  .strategy-icon {
  }
  .strategy-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    margin-bottom: 8px;
    text-align: center;
  }
  .strategy-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--rest-text-color);
    width: 100%;
  }
  /* ----------works------------ */
  .works {
    display: none;
  }
  /* ---------team---------------- */

  .team {
    background-color: var(--second-bg-color);
    padding-bottom: 96px;
    padding-top: 128px;
    /* width: 428px; */
  }
  .team > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    gap: 75px;
  }
  .team-item {
    display: flex;
    align-items: center;
    background-color: var(--first-btn-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  .team-content {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
  }
  .team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--rest-text-color);
    margin-bottom: 8px;
  }

  .team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .team-soc-item {
    width: 40px;
    height: 40px;
  }
  .team-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--first-bg-btn-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-soc-icon {
  }
  .team-soc-link:hover,
  .team-soc-link:focus {
    background-color: var(--second-bg-btn-color);
  }
  /* ----------customer-------------- */

  .Customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .Customers > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 425px;
  }
  .customers-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
  }
  .customers-item {
    width: 188px;
  }

  /* -----------FOOTER----------------- */
  .footer > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 425px;
  }
  .footer-content {
    width: 264px;
    height: 110px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
  }

  .footer-logo {
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 16px;
    justify-content: center;
  }
  .soc-media-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 72px;
  }

  .footer-form-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
  }
  .footer-form {
    width: 100%;
  }
  .footer-form-field {
    display: flex;
    margin-bottom: 16px;
  }

  .footer-form-input {
    width: 100%;
    height: 40px;
  }
  .footer-form-input::placeholder {
    width: 100%;
  }
  .footer-form-input:focus {
    width: 100%;
  }
  .footer-form-submit {
    width: 165px;
    justify-content: center;
    align-items: center;
  }

  /* ---------------MODAL WINDOW-------------- */

  .modal {
    width: 392px;
    padding: 72px 16px 16px 24px;
  }

  /* ----------------PORTFOLIO--------------------- */

  .about {
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .about > .container {
    justify-content: start;
  }
  .about-list {
    flex-wrap: wrap;
    gap: 21px;
    width: 263px;
    height: 96px;
  }
  .about-item {
  }
  .about-btn {
    padding: 8px 16px;
  }

  .about-btn:hover,
  .about-btn:focus {
    color: var(--first-btn-color);
    background-color: var(--first-bg-btn-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  .page > .container {
    display: flex;
    flex-direction: column;
    width: 396px;
  }
  .page-list {
    width: 100%;
    flex-direction: column;
  }

  .page-item {
    background: var(--first-btn-color);
    width: 100%;
  }
}
