@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .mobile-menu-open {
    display: none;
  }

  /* ------------HEADER------------- */
  .header {
    background-color: var(--first-bg-color);
    padding-top: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e9fc;
  }
  .header-logo {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-title-color);
    margin-right: 120px;
  }
  .header-word {
    color: var(--second-title-color);
  }
  .header > .container {
    display: flex;
    align-items: center;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-item {
  }
  .header-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    bottom: -131%;
    display: flex;
    background-color: var(--accent-title-color);
    border-radius: 2px;
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--second-hover-color);
  }

  .header-mail:visited .header-tel:visited {
    color: fuchsia;
  }

  .header-mail {
    font-size: 12px;
  }
  .header-tel {
    font-size: 12px;
  }

  .header-mail:hover,
  .header-mail:focus,
  .header-tel:hover,
  .header-tel:focus {
    color: var(--second-hover-color);
  }
  .header-grap-list {
    display: flex;
    flex-direction: column;
  }

  .header-mail-item {
  }

  /*------------ HERO ------------- */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg_tablet.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: 768px;
    padding-top: 109px;
    padding-bottom: 108px;
    /* height: 432px; */
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_bg_tablet_2x.jpg);
  }
  }
  .hero-title {
    font-size: 56px;
    line-height: calc(60 / 56);
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  /* ----------strategy------------- */

  .features-icon {
    display: none;
  }
  .strategy > .container {
    width: 768px;
  }
  .strategy-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px 24px;
  }

  .strategy-item {
    width: calc((100% - 24px) / 2);
    
  }
  .strategy-icon {
  }
  .strategy-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    margin-bottom: 8px;
    text-align: start;
  }
  .strategy-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--rest-text-color);
    width: 100%;
  }
  /* ---------team---------------- */

  .team {
    /* width: 768px; */
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
  /* ----------customer-------------- */

  .customers > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .customers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
  }
  .customers-item {
    width: 168px;
  }
  /* -----------FOOTER----------------- */
  .footer > .container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-content {
    width: 264px;
    height: 110px;
    margin-right: 24px;
    margin-left: 93px;
    margin-bottom: 72px;
  }

  .soc-media-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .footer-form {
    margin-left: 93px;
  }
  .footer-form-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .footer-form-field {
    display: flex;
    margin-bottom: 16px;
  }

  .footer-form-input {
    width: 100%;
    height: 40px;
  }

  .footer-form-submit {
    width: 165px;
    justify-content: center;
    align-items: center;
  }
  /* ----------------PORTFOLIO--------------------- */

  .about {
    align-items: center;
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .about > .container {
  }
  .about-list {
    flex-wrap: nowrap;
    gap: 24px;
    margin-bottom: 64px;
  }
  .about-item {
  }
  .about-btn {
    padding: 12px 24px;
  }

  .about-btn:hover,
  .about-btn:focus {
    color: var(--first-btn-color);
    background-color: var(--first-bg-btn-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  .page > .container {
  }
  .page-list {
    flex-direction: row;
    row-gap: 72px;
  }

  .page-item {
    background: var(--first-btn-color);
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (max-width: 1199px) {
  /* ----------works------------ */
  .works {
    display: none;
  }
  .footer-logo {
    margin-bottom: 16px;
    justify-content: center;
  }
}
